<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Django Test"
            id="com.royvandewater.django_testing.commands.category">
      </category>
      <command
            name="Run Current Test"
            categoryId="com.royvandewater.django_testing.commands.category"
            id="com.royvandewater.django_testing.commands.runTests">
      </command>
   </extension>
   <extension
   	  point="org.eclipse.ui.handlers">
      <handler
   	     commandId="com.royvandewater.django_testing.commands.runTests"
   		 class="com.royvandewater.django_testing.handlers.TestHandler" />
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.royvandewater.django_testing.commands.runTests"
            contextId="org.eclipse.ui.contexts.window"
            sequence="ALT+SHIFT+F11"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Django"
               mnemonic="D"
               id="com.royvandewater.django_testing.menus.sampleMenu">
            <command
                  commandId="com.royvandewater.django_testing.commands.runTests"
                  mnemonic="R"
                  id="com.royvandewater.django_testing.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.royvandewater.django_testing.toolbars.sampleToolbar">
            <command
                  commandId="com.royvandewater.django_testing.commands.runTests"
                  icon="icons/sample.gif"
                  tooltip="Run current Django test"
                  id="com.royvandewater.django_testing.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
